# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
angular/dist
angular/tmp
angular/out-tsc

# dependencies
angular/node_modules

# IDEs and editors
angular/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
angular/.sass-cache
angular/connect.lock
angular/coverage
angular/libpeerconnection.log
npm-debug.log
testem.log
angular/typings
yarn-error.log

# e2e
angular/e2e/*.js
angular/e2e/*.map

# System Files
.DS_Store
Thumbs.db

stencil/dist/
stencil/www/build
stencil/www/assets/build
stencil/www/index.html

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.sass-cache/
.versions/
stencil/node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env